[submodule "hangman"]
	path = hangman
	url = ./hangman
[submodule "dictionary"]
	path = dictionary
	url = ./dictionary
[submodule "text_client"]
	path = text_client
	url = ./text_client
[submodule "computer_player"]
	path = computer_player
	url = ./computer_player
[submodule "b1"]
	path = b1
	url = ./b1
[submodule "b2"]
	path = b2
	url = ./b2
